<div class="menu-group">

    <button type="button" class="menu-group-toggle">

        <div class="menu-group-left">
            <i class="bi bi-award-fill"></i>
            <span>Оцінювання</span>
        </div>

        <i class="bi bi-chevron-down menu-arrow"></i>

    </button>

    <div class="menu-group-content">

        <a href="#" class="menu-item submenu-item">
            <i class="bi bi-clipboard-check"></i>
            <span>Результати</span>
        </a>

        <a href="#" class="menu-item submenu-item">
            <i class="bi bi-award-fill"></i>
            <span>Сертифікати</span>
        </a>

    </div>

</div>