<div class="sidebar">

    <a href="{% url 'home' %}" class="logo">
        <div class="logo-icon">
            📚
        </div>

        <div class="logo-text">
            Navchai+
        </div>
    </a>

    <nav>

        {% include "sidebar/dashboard.html" %}
        {% include "sidebar/organization.html" %}
        {% include "sidebar/education.html" %}
        {% include "sidebar/assessment.html" %}
        {% include "sidebar/reports.html" %}
        {% include "sidebar/system.html" %}

    </nav>

</div>