<div class="sidebar">

    <div class="logo">

        <div class="logo-icon">
            📚
        </div>

        <div class="logo-text">
            Навчай+
        </div>

    </div>

    <nav>

        <a href="{% url 'home' %}" class="menu-item active">
<a href="{% url 'courses' %}" class="menu-item">
<a href="{% url 'tests' %}" class="menu-item">
<a href="{% url 'employees' %}" class="menu-item">
<a href="{% url 'certificates' %}" class="menu-item">
<a href="{% url 'reports' %}" class="menu-item">
<a href="{% url 'settings' %}" class="menu-item">

    </nav>

</div>