<div class="topbar">

    <div class="topbar-left">

        <div class="search-box">

            <i class="bi bi-search"></i>

            <input
                type="text"
                placeholder="Пошук..."
            >

        </div>

    </div>

    <div class="topbar-right">

        <button class="icon-btn">
            <i class="bi bi-bell"></i>
        </button>

        <button class="icon-btn">
            <i class="bi bi-gear"></i>
        </button>

        <div class="user-box">

            <div class="avatar">
                Ю
            </div>

            <div>

                <div class="user-name">
                    Юрій
                </div>

                <div class="user-role">
                    Administrator
                </div>

            </div>

        </div>

    </div>

</div>