@import url("theme.css");
@import url("base.css");
@import url("layout.css");
@import url("sidebar.css");
@import url("topbar.css");
@import url("components/toolbar.css");
@import url("components/nc-button.css");
@import url("components/nc-card.css");
@import url("components/nc-input.css");
@import url("components/nc-search.css");
@import url("components/nc-avatar.css");
@import url("components/nc-badge.css");
@import url("components/page-header.css");
@import url("components/stats.css");
@import url("components/organization-card.css");
@import url("components/empty.css");

@import url("dashboard.css");
/* ===== Sidebar Groups ===== */

.menu-group{
    margin-bottom:10px;
}

.menu-group-toggle{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:none;
    border:none;
    color:inherit;

    padding:12px 16px;

    cursor:pointer;
    border-radius:12px;

    transition:.25s;
}

.menu-group-toggle:hover{
    background:#f4f6fa;
}

.menu-group-left{
    display:flex;
    align-items:center;
    gap:12px;
}

.menu-group-left i{
    font-size:18px;
}

.menu-arrow{
    transition:.3s;
    font-size:14px;
}

.menu-group.open .menu-arrow{
    transform:rotate(180deg);
}

.menu-group-content{
    display:none;
    padding-top:6px;
}

.menu-group.open .menu-group-content{
    display:block;
}

.submenu-item{
    padding-left:48px;
}