{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="welcome-card">

    <div>

        <h1>Добрий день, Юрій 👋</h1>

        <p>Ласкаво просимо до платформи цифрового навчання <b>Навчай+</b></p>

    </div>

    <button class="primary-btn">

        <i class="bi bi-play-circle-fill"></i>

        Продовжити навчання

    </button>

</div>



<div class="dashboard-grid">

    <div class="stat-card">

        <div class="icon blue">
            <i class="bi bi-mortarboard-fill"></i>
        </div>

        <h2>{{ courses }}</h2>

        <p>Активних курсів</p>

        <span>+2 цього тижня</span>

    </div>



    <div class="stat-card">

        <div class="icon green">
            <i class="bi bi-ui-checks-grid"></i>
        </div>

        <h2>{{ tests }}</h2>

        <p>Тестів</p>

        <span>1 очікує проходження</span>

    </div>



    <div class="stat-card">

        <div class="icon orange">
            <i class="bi bi-people-fill"></i>
        </div>

        <h2>{{ employees }}</h2>

        <p>Працівників</p>

        <span>+4 нових</span>

    </div>



    <div class="stat-card">

        <div class="icon purple">
            <i class="bi bi-award-fill"></i>
        </div>

        <h2>{{ certificates }}</h2>

        <p>Сертифікатів</p>

        <span>Видано цього місяця</span>

    </div>

</div>



<div class="bottom-grid">

    <div class="activity">

        <h3>

            <i class="bi bi-graph-up-arrow"></i>

            Активність

        </h3>

        <div class="fake-chart">

            <div class="bar" style="height:80px"></div>
            <div class="bar" style="height:120px"></div>
            <div class="bar" style="height:65px"></div>
            <div class="bar" style="height:150px"></div>
            <div class="bar" style="height:110px"></div>
            <div class="bar" style="height:170px"></div>
            <div class="bar" style="height:140px"></div>

        </div>

    </div>



    <div class="events">

        <h3>

            <i class="bi bi-clock-history"></i>

            Останні події

        </h3>

        <ul>

            <li>✅ Додано курс "Кібергігієна"</li>

            <li>🏆 Видано новий сертифікат</li>

            <li>📝 Працівник пройшов тест</li>

            <li>📚 Створено нову категорію</li>

            <li>👤 Додано нового працівника</li>

        </ul>

    </div>

</div>

{% endblock %}